<div class="container-fluid bg-black text-white">
    <div class="mt-2 p-2 fw-medium">
        <p>Hello! I'm Rakesh Kumar Kuna, a passionate and results-driven Full-Stack Developer with strong expertise in Java, AI, and Machine Learning. I have several years of experience designing, developing, and maintaining scalable and high-performance applications across diverse domains. My work blends robust backend engineering with intelligent system design and modern front-end development to deliver impactful end-to-end solutions.</p>
    </div>
    <div class="mt-2  p-2">
        <dl>
            <dt>Education:</dt>
            <dd>Master’s Degree [MCA] in Computer Science from Osmania University.</dd>
            <dt>Backend Development:</dt>
            <dd>Utilized Java, Spring Boot, and Hibernate to develop RESTful APIs and microservices, ensuring high
                performance and scalability.</dd>
            <dt>Frontend Development:</dt>
            <dd>Implemented responsive and dynamic user interfaces using Angular, enhancing user experience and
                engagement.</dd>
            <dt>Database Design:</dt>
            <dd> Managed both relational (MySQL, PostgreSQL) and NoSQL (MongoDB) databases, optimizing data storage and
                retrieval.</dd>
            <dt>DevOps Practices:</dt>
            <dd>Set up CI/CD pipelines using Jenkins and Docker, and deployed applications on AWS, ensuring smooth and
                efficient delivery.</dd>
        </dl>
    </div>
</div>
