@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 

    .mobile-fotter{
        display: none;
    }
.brand-name{
    color: whitesmoke;
    font-size: smaller;
    font-weight: 500;
    border: 2px solid blueviolet;
    padding: 1px;
    background-color: blueviolet;
    font-family: cursive;
}
.talk{
    border: 1px solid gray;
    color: black;
    background-color: aliceblue;
    padding: 2px;
    font-size: small;
}
.links a{
    font-size: smaller;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.links a:hover{
    text-decoration: underline;
}

}
@media (max-width:932px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
      .mobile-icons{
       display: none;
      }
      .links a{
        font-size: x-small;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        margin-right: 25px;
        margin-top: 10px;
    }
    .mobile-head{
       display: none;
    }
    
}