<header class="row p-2 d-flex ">
    <div class="col-3 ">
        <a routerLink="Home"><img src="../assets/logo.jpg" width="40px" height="40px"></a>
        <span class="brand-name ms-2 mobile-head">Kuna Rakesh Kumar</span>
    </div>

    <div class="col-6 d-flex justify-content-evenly links">
        <a routerLink="Home">Home</a>
        <a routerLink="Works">Projects</a>
        <a routerLink="About">About</a>
        <a routerLink="Contact">Contact</a>
    </div>
    <div class="col-3 justify-content-last mobile-icons">
        <div class="d-flex justify-content-evenly">
            <a class="my-icons" href="https://github.com/RakeshKumarKuna" style="text-decoration: none; color: black;"><span
                    class="my-icons bi bi-github fw-bolder fs-5"></span></a>
            <!-- <a href="https://www.linkedin.com/in/rakesh-kumar-kuna-4b1a6a1b2/"
                style="text-decoration: none; color: black;"><span class=" bi bi-linkedin fw-bolder fs-5"></span></a> -->
            <a href="https://stackoverflow.com/users/19793903/kunarakeshkumar"
                style="text-decoration: none; color: black;"><span
                    class="bi bi-stack-overflow fw-bolder fs-5"></span></a>
            <a href="https://www.hackerrank.com/profile/kunarakeshkumar"
                style="text-decoration: none; color: black;"><img src="../assets/hackerrank.svg" width="30px"
                    height="30px"></a>
        </div>
    </div>
</header>
<router-outlet></router-outlet>

<div class="mb-3 mobile-fotter">
    <div class="d-flex justify-content-evenly my-icons">
        <a href="https://github.com/RakeshKumarKuna" style="text-decoration: none; color: black;"><span
                class="bi bi-github fw-bolder fs-5"></span></a>
        <a href="https://www.linkedin.com/in/rakesh-kumar-kuna-4b1a6a1b2/"
            style="text-decoration: none; color: black;"><span class="bi bi-linkedin fw-bolder fs-5"></span></a>
        <a href="https://stackoverflow.com/users/19793903/kunarakeshkumar"
            style="text-decoration: none; color: black;"><span
                class="bi bi-stack-overflow fw-bolder fs-5"></span></a>
        <a href="https://www.hackerrank.com/profile/kunarakeshkumar"
            style="text-decoration: none; color: black;"><img src="../assets/hackerrank.svg" width="30px"
                height="30px"></a>
    </div>
</div>
