<header class="row p-2">
    <div class="col-3">
        <img src="../assets/logo.jpg" width="40px" height="40px">
        <span class="brand-name ms-2">Kuna Rakesh Kumar</span>
    </div>

    <div class="col-6 d-flex justify-content-evenly links">
        <a routerLink="Home">Home</a>
        <a routerLink="Works">Works</a>
        <a routerLink="About">About</a>
        <a routerLink="Contact">Contact</a>
    </div>
    <div class="col-3 d-flex justify-content-center">
        <p class="talk">Let's talk</p>
    </div>
</header>
<router-outlet></router-outlet>
