<div class="box">
    <div class="my-data">
        <p class="head-text-one fw-bolder">HI, I'M RAKESH KUMAR.</p>
        <p class="head-text-two fw-bold">A JAVA FULLSTACK DEVELOPER</p>
        <p class="head-text-three fw-semibold"> BASED IN INDIA</p>
        <div class="extra-text"><span>DESIGN</span><span>DEVLOPMENT</span><span class="bi bi-award-fill">DEPLOY</span>
        </div>
    </div>
    <div class="profile-pic-mobile">
        <img  class="profile-pic" src="/assets/dp5.jpeg" width="300px" height="400px" alt="profileimage">
    </div>
</div>
<hr>
<div class="my-card-text">
    <p class="fw-bold fs-3 text-bg-info text-center">My Skills</p>
</div>
<div class="my-cards mb-4">
    <div class="d-flex d-inline justify-content-around my-cards-one">
        <div class="my-card">
            <div>
                <img src="/assets/java.svg" width="60px" height="60px" alt="Java" class="myimg">
                <div>
                    <p>Java</p>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/springboot.png" width="60px" height="60px" alt="Springboot" class="myimg">
                    <div>
                        <p>SpringBoot</p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/hibernate.svg" width="60px" height="60px" alt="Hibernate" class="myimg">
                    <div>
                        <p>Hibernate</p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/oracle.svg" width="60px" height="60px" alt="Oracle" class="myimg">
                    <div>
                        <p>Oracle</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/windows.svg" width="60px" height="60px" alt="windows" class="myimg">
                    <div>
                        <p>Windows</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Divider -->
    <div class="d-flex d-inline justify-content-around pt-3">
        <div>
            <div class="my-card">
                <img src="/assets/html.svg" width="60px" height="60px" alt="html" class="myimg">
                <div>
                    <p>HTML</p>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/css.svg" width="60px" height="60px" alt="css" class="myimg">
                    <div>
                        <p>CSS</p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/javascript.svg" width="60px" height="60px" alt="JavaScript" class="myimg">
                    <div>
                        <p>JavaScript</p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/mysql.svg" width="60px" height="60px" alt="mysql" class="myimg">
                    <div>
                        <p>MySQL</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/linux.svg.png" width="60px" height="60px" alt="linux" class="myimg">
                    <div>
                        <p>Linux</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Divider -->
    <div class="d-flex d-inline justify-content-around pt-3">
        <div>
            <div class="my-card">
                <img src="/assets/angular.svg" width="60px" height="60px" alt="html" class="myimg">
                <div>
                    <p>Angular</p>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/react-js.svg" width="60px" height="60px" alt="css" class="myimg">
                    <div>
                        <p>React</p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/typescript.svg" width="60px" height="60px" alt="JavaScript" class="myimg">
                    <div>
                        <p>TypeScript</p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/mongo.svg" width="60px" height="60px" alt="mysql" class="myimg">
                    <div>
                        <p>MongoDb</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/github.svg" width="60px" height="60px" alt="linux" class="myimg">
                    <div>
                        <p>GitHub</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mobile skills data -->
<div>
      <!--  first row -->
    <div class="pt-2 mb-3 my-marqee border border-2 shadow  shadow-lg ">
        <ngx-fast-marquee speed="fast" [pauseOnHover]=true speed="medium" direction="right">
            <div class="d-block text-center">
                <img src="/assets/java.svg" width="60px" height="60px" alt="Java" class="myimg">
                <p>Java</p>
            </div>
            <div>&nbsp;&nbsp;&nbsp;</div>
            <div class="d-block text-center">
                <img src="/assets/springboot.png" width="60px" height="60px" alt="Springboot" class="myimg">
                <p>SpringBoot</p>
            </div>
            <div>&nbsp;&nbsp;&nbsp;</div>
            <div class="d-block text-center">
                <img src="/assets/hibernate.svg" width="60px" height="60px" alt="Hibernate" class="myimg">
                <p>Hibernate</p>
            </div>
            <div>&nbsp;&nbsp;&nbsp;</div>
            <div class="d-block text-center">
                <img src="/assets/oracle.svg" width="60px" height="60px" alt="Oracle" class="myimg">
                <p>Oracle</p>
            </div>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </ngx-fast-marquee>
    </div>
    <!--  second row -->

    <div class="pt-2 mb-3 my-marqee border border-2 shadow  shadow-lg ">
        <ngx-fast-marquee speed="fast" [pauseOnHover]=true speed="medium" direction="left">
            <div class="d-block text-center">
                <img src="/assets/windows.svg" width="60px" height="60px" alt="windows" class="myimg">
                <p>Windows</p>
            </div>
            <div>&nbsp;&nbsp;&nbsp;</div>
            <div class="d-block text-center">
                <img src="/assets/html.svg" width="60px" height="60px" alt="html" class="myimg">
                <p>HTML</p>
            </div>
            <div>&nbsp;&nbsp;&nbsp;</div>
            <div class="d-block text-center">
                <img src="/assets/css.svg" width="60px" height="60px" alt="css" class="myimg">
                <p>CSS</p>
            </div>
            <div>&nbsp;&nbsp;&nbsp;</div>
            <div class="d-block text-center">
                <img src="/assets/javascript.svg" width="60px" height="60px" alt="JavaScript" class="myimg">
                <p>JavaScript</p>
            </div>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </ngx-fast-marquee>
    </div>
       <!--  third row -->
       <div class="pt-2 mb-3 my-marqee border border-2 shadow  shadow-lg ">
        <ngx-fast-marquee speed="fast" [pauseOnHover]=true speed="medium" direction="right">
            <div class="d-block text-center">
                <img src="/assets/mysql.svg" width="60px" height="60px" alt="mysql" class="myimg">
                <p>MySQL</p>
            </div>
            <div>&nbsp;&nbsp;&nbsp;</div>
            <div class="d-block text-center">
                <img src="/assets/linux.svg.png" width="60px" height="60px" alt="linux" class="myimg">
                <p>Linux</p>
            </div>
            <div>&nbsp;&nbsp;&nbsp;</div>
            <div class="d-block text-center">
                <img src="/assets/angular.svg" width="60px" height="60px" alt="html" class="myimg">
                <p>Angular/p>
            </div>
            <div>&nbsp;&nbsp;&nbsp;</div>
            <div class="d-block text-center">
                <img src="/assets/react-js.svg" width="60px" height="60px" alt="css" class="myimg">
                <p>React</p>
            </div>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </ngx-fast-marquee>
    </div>

</div>
