<div class="box">
    <div class=" p-5 my-data">
        <h1 class="head-text">HI, I'M RAKESH.</h1>
        <h3 class="head-text">A JAVA FULLSTACK DEVLOPER</h3>
        <h4 class="head-text"> BASED IN <s>INDIA</s></h4>
        <span>DESIGN</span><span>DEVLOPMENT</span><span class="bi bi-award-fill">DEPLOY</span>
    </div>
    <div class="">
        <img class="profile-pic" src="assets/rakeshpic3.jpeg" width="300px" height="400px" alt="profileimage">
    </div>
</div>
<hr>
<div class="d-flex justify-content-center align-content-center .my-text">
<div class="text-center  mb-4 card w-25 rounded-3">
    <h4 class="card-text fw-bold fs-3 text-bg-info ">Technical Skills</h4>
</div>
</div>
<div >
    <div class="d-flex d-inline justify-content-around">
        <div class="my-card">
            <div>
                <img src="/assets/java.svg" width="60px" height="60px" alt="Java" class="myimg">
                <div>
                    <p>Java</p>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/springboot.png" width="60px" height="60px" alt="Springboot" class="myimg">
                    <div>
                        <p>SpringBoot</p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/hibernate.svg" width="60px" height="60px" alt="Hibernate" class="myimg">
                    <div>
                        <p>Hibernate</p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/oracle.svg" width="60px" height="60px" alt="Oracle" class="myimg">
                    <div>
                        <p>Oracle</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/windows.svg" width="60px" height="60px" alt="windows" class="myimg">
                    <div>
                        <p>Windows</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Divider -->
    <div class="d-flex d-inline justify-content-around pt-3">
        <div>
            <div class="my-card">
                <img src="/assets/html.svg" width="60px" height="60px" alt="html" class="myimg">
                <div>
                    <p>HTML</p>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/css.svg" width="60px" height="60px" alt="css" class="myimg">
                    <div>
                        <p>CSS</p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/javascript.svg" width="60px" height="60px" alt="JavaScript" class="myimg">
                    <div>
                        <p>JavaScript</p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/mysql.svg" width="60px" height="60px" alt="mysql" class="myimg">
                    <div>
                        <p>MySQL</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/linux.svg.png" width="60px" height="60px" alt="linux" class="myimg">
                    <div>
                        <p>Linux</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Divider -->
    <div class="d-flex d-inline justify-content-around pt-3">
        <div>
            <div class="my-card">
                <img src="/assets/angular.svg" width="60px" height="60px" alt="html" class="myimg">
                <div>
                    <p>Angular</p>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/react-js.svg" width="60px" height="60px" alt="css" class="myimg">
                    <div>
                        <p>React</p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/typescript.svg" width="60px" height="60px" alt="JavaScript" class="myimg">
                    <div>
                        <p>TypeScript</p>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/mongo.svg" width="60px" height="60px" alt="mysql" class="myimg">
                    <div>
                        <p>MongoDb</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="my-card">
                    <img src="/assets/github.svg" width="60px" height="60px" alt="linux" class="myimg">
                    <div>
                        <p>GitHub</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-5">
    <ngx-fast-marquee speed="fast" [pauseOnHover]=true>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

    </ngx-fast-marquee>
</div>