.box{
    display: grid;
  grid-template-columns: 7fr 5fr;
}

.head-text{
    font-weight:600;
    color: #00203FFF;
    text-shadow: 2px 2px 2px #adefd1ff;
}
@keyframes slide-right{
    from{
        margin-left: -100%;
    }
    to{
       margin-left: 0%;
    }
}

.my-data{
    animation:3s slide-right;
}
.my-data span{
    margin-left: 10px;
    font-size: medium;
    font-weight:bold;
    border: 2px solid black;
    padding: 2px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0px 0px 8px #76528bff;
}
.profile-pic{
    color: bisque;
    border: 1px solid black;
    border-radius: 40px;
    background-size: cover;
}

.my-text{
    text-shadow: 2px 2px 2px black;
    font-weight: 500;
    font-family: cursive;
    color: yellowgreen;
    
}
.my-card{
    box-shadow: 1px 0px 2px black;
    text-align: center;
    width: 200px;
    height: 100px;
    padding: 5px;
}
.myimg:hover{
    width: 70px;
    height: 70px;
}

.my-card:hover{
    box-shadow: 0px 0px 10px rgb(50, 228, 101);
    
}




