@media (min-width:1025px) {
    .my-marqee{
        display: none;
    }
.box{
    display: grid;
  grid-template-columns: 7fr 5fr;
}

.head-text-one{
    font-size: xx-large;
    font-weight:900;
    color: rgb(3, 9, 15);
    text-shadow: 2px 2px 2px #adefd1ff;
}
.head-text-two{
    font-size: larger;
    font-weight:600;
    color: rgb(3, 9, 15);
    text-shadow: 2px 2px 2px #adefd1ff;
}
.head-text-three{
    font-weight:600;
    color: rgb(3, 9, 15);
    text-shadow: 2px 2px 2px #adefd1ff;
}
@keyframes slide-right{
    from{
        margin-left: -100%;
    }
    to{
       margin-left: 0%;
    }
}

.my-data{
    animation:3s slide-right;
    padding: 70px;
}
.my-data span{
    margin-left: 10px;
    font-size: medium;
    font-weight:bold;
    border: 2px solid black;
    padding: 2px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0px 0px 8px #76528bff;
}
.profile-pic{
    color: bisque;
    border: 1px solid black;
    border-radius: 40px;
    background-size: cover;
}

.my-text{
    text-shadow: 2px 2px 2px black;
    font-weight: 500;
    font-family: cursive;
    color: yellowgreen;
    
}
.my-card{
    box-shadow: 1px 0px 2px black;
    text-align: center;
    width: 200px;
    height: 100px;
    padding: 5px;
}
.myimg:hover{
    width: 70px;
    height: 70px;
}

.my-card:hover{
    box-shadow: 0px 0px 10px rgb(50, 228, 101);
}
.my-card-text{
    margin-top:70px;
}
}

@media (max-width:932px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .box{
        display: block;
    }
    .head-text-one{
        font-size: x-large;
    }
    .head-text-two{
        font-size: small;
    }
    .head-text-three{
        font-size: smaller;
    }
    @keyframes slide-right{
        from{
            margin-left: -100%;
        }
        to{
           margin-left: 0%;
        }
    }
    
    .my-data{
        animation:5s slide-right;
        width: max-content;
        padding: 10px;
        margin-bottom: 20px;
    }
    .my-data span{
        margin-left: 10px;
        font-size: xx-small;
        font-weight:bold;
        border: 2px solid black;
        padding: 2px;
        border-radius: 8px;
        margin-top: 10px;
        box-shadow: 0px 0px 8px #76528bff;
    }
    .profile-pic-mobile{
      margin-left: 35px;
      
    }
    .my-card-text{
        font-size: xx-small;
    }
    .my-cards{
        display: none;
    }
    .profile-pic{
        color: bisque;
        border: 1px solid black;
        border-radius: 40px;
        background-size: cover;
    }
    
}

